<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link
			rel="stylesheet"
			href="../style/index.css"
		/>
		<title>DigiRoom</title>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<span class="logo">
					<img
						src="../assets/logo.png"
						alt="logo"
						width="100"
						height="100"
					/>
				</span>
				<nav class="navbar">
					<ul class="navbar__content">
						<li>
							<a
								href="#home"
								class="navbar__link"
								id="hom"
								>Home</a
							>
						</li>
						<li>
							<a
								href="#services"
								class="navbar__link"
								id="serv"
								>Services</a
							>
						</li>
						<li>
							<a
								href="#about"
								class="navbar__link"
								id="abt"
								>About Us</a
							>
						</li>

						<li>
							<a
								class="navbar__link"
								href="#calendar"
								id="avl"
								>Availability</a
							>
						</li>
						<li>
							<a
								href="#contact"
								class="navbar__link"
								id="ctc"
								>Contact Us</a
							>
						</li>
					</ul>
				</nav>
				<div class="social__media">
					<div class="check__form">
						<p class="en__lang">En</p>
							<input type="checkbox" name="lang" id="lang" class="lang" onclick="changeLang()">
							<label for="lang">Fr</label>
					</div>
					<ul>
						<li>
							<a href="#"
								><img
									src="../assets/s-facebook.png"
									alt="facebook logo"
									height="40"
									width="40"
							/></a>
						</li>
						<li>
							<a href="#"
								><img
									src="../assets/s-instagram.png"
									alt="instagram logo"
									height="40"
									width="40"
							/></a>
						</li>
						<li>
							<a href="#"
								><img
									src="../assets/s-linkedin.png"
									alt="linkedin logo"
									height="40"
									width="40"
							/></a>
						</li>
					</ul>
				</div>
			</div>
			<div
				class="banner section"
				id="home"
			>
				<div class="banner__left">
					<h1 class="title bannerTitle1">
						<span class="bold__part">We Help You</span>
						<span class="black__part"> to grow your Business</span>
					</h1>
					<h3 class="banner__subtitle">
						Finally a solution tailored to your specific needs and accessible
						according to your budget and demand.
					</h3>
					<p class="banner__content__text">
						Activities involved: 
						<ul class="activities__list">
							<li class="activities__item1">Virtual grouping of people for distance learning with facilitators connected from around the world.</li>
							<li class="activities__item2">Online meetings or seminars for individuals or companies seeking a supportive environment. </li>
							<li class="activities__item3">Online certifications in the standards prescribed by the certification agency.</li>
							<li class="activities__item4">Private and intimate onlinemeetings.</li>
							<li class="activities__item5">Job interviews</li>
						</ul>
					
					</p>
					<button class="button">
						<a
							href="#learn__more"
							
							>Learn More</a
						>
					</button>
			
				</div>
				<div class="banner__right"></div>
			</div>
			<section id="learn__more" class="learn__more">
					<h1 class="title">
						<span class="learn__more_first">It Also</span>
						<span class="bold__part"> Include...</span> </h1>

				<div class="home__subtext">
						<div class="subtext__left">
							<strong>  Minimum room configuration:</strong> 
							<ul class="subtext_ul">
								<li class="subtext_li1">An acoustic and air-conditioned setting</li>
								<li class="subtext_li2">A permanent and good capacity internet access with a backup system in case of interruption of the main one</li>
								<li class="subtext_li3">A permanent electrical supply with protection equipment and an electrical generator for recovery in case of power failure.</li>
								<li class="subtext_li4">A giant Smart TV screen for presentation and video conferencing.</li>
								<li class="subtext_li5">A sophisticated and integrated Microphone and Camera device containing the entire room.</li>
								<li class="subtext_li6">A central console for session administration.</li>
								<li class="subtext_li7">Collaborative tools such as Microsoft Teams, Zoom, Google Meet, etc.</li>
								<li class="subtext_li8">Availability consultation and room reservation management interfaces.</li>
							</ul>
								
						</div>
						<div class="subtext__right">
							<strong>Promotion:</strong> 
							<ul>
								<li style="list-style: none;">
									Enjoy our services for free for all the first hours of your reservations until 
							   the end of June. Just contact us or make the reservation yourself online through 
							   the addresses provided on this page. 
							</li>
							</ul>
                               
						</div>
					</div>
			</section>

			<div
				class="business section"
				id="services"
			>
				<h1 class="title">
					<span class="bold__part">What We Offer</span> <br />
					To You
				</h1>
				<div class="business__banner__text">
				<p>
					DigiPlus provides you with a set of rooms connected and equipped with a 
					video conferencing device and collaboration tools.
				</p>
				</div>
				
				<div class="card__contianer">
					<span class="card">
						<img
							src="../assets/meeting.png"
							alt="meeting icon"
						/>
						<h3>A great space for your meetings</h3>
						<p>
							You want to have a serious meeting with a partner at a distance or on location.You want to attend a serious meeting or seminar in a suitable setting.
							<ul style="list-style: square;">
								
								<li>DigiRoom offers you a room with a capacity of 8 places extensible to 10 to group your learners in the covered city.</li>
								
							</ul>
						
						</p>
						<button class="button">
							<a
								href="#calendar"
								
								>Make A Reservation</a
							>
						</button>
					</span>
					<span class="card">
						<img
							src="../assets/security.png"
							alt="meeting icon"
						/>
						<h3>A Quiet and Private Space</h3>
						<p>
							You want to conduct one-time or recurring meetings with your employees or partners located in the city covered by DigiRoom. It is the example of the groupings of the salesmen for the follow-up of the activities and the review of the performances.
							<ul style="list-style: square;">
								<li>Private and intimate online meetings.</li>
								<li>Job interviews</li>
							</ul>
						</p>
						<button class="button">
							<a
								href="#calendar"
								
								>Make A Reservation</a
							>
						</button>
					</span>
					<span class="card">
						<img
							src="../assets/tech.png"
							alt="tech icon"
						/>
						<h3>High-Tech Equipments Available</h3>
						<p>
							You want one or more employees to benefit from a training or seminar at a distance in a favourable setting. For example, a seminar organized at an international level in which employees must participate remotely.
							<ul style="list-style: square;">
								<li>Online certifications within the standards prescribed by the certification agency.</li>
							</ul>

						</p>
						<button class="button">
							<a
								href="#calendar"
								
								>Make A Reservation</a
							>
						</button>
					</span>
					
					
				</div>
			</div>

			<div
				class="about section"
				id="about"
			>
				<h1 class="title">About Us</h1>
				<div class="about__content">
					<div class="about__image"></div>
					<div class="about__text">
						<h2>Fake Or <span class="bold__part">REAL</span></h2>
						<div class="text__content">
									<div class="text__details">
									<p>
										 DigiPlus Consulting is a start-up created in Douala in 2016 with two main missions:
										<ul>
											<li>Support companies in the digital transformation process.</li>
											<li>Influence digital ecosystems by introducing innovative digital offerings to improve the lives of people and communities.</li>
										</ul>
									</p>
									<p> 
										DigiRoom represents a line of products whose interest is to create media platforms to contribute to the modernization of training and communication activities for the benefit of businesses, individuals and communities.
									</p>
							</div>
							
							<a class="button"  href="#contact">Learn More</a>

						</div>
					</div>
				</div>
			</div>

			<!-- <div class="testimonials section">
				<div class="titles">
					<h1 class="title">Our Testimonials</h1>
					<h2>What Our Clients Are <span class="bold__part">Saying</span></h2>
				</div>
				<div class="testimonial__message">
					<div class="message__container">
						<div class="svgs">
							<svg
								width="22"
								height="40"
								viewBox="0 0 22 40"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M11.0272 39.5905L21.0144 18.5185V0.409668H0.600006V19.6161H8.39361L0.600006 39.5905H11.0272ZM3.64801 16.5681V3.45927H17.9648V17.8321L9.09761 36.5409H5.06241L12.8512 16.5697H3.64801V16.5681Z"
									fill="#FDC221"
								/>
							</svg>
							<svg
								width="22"
								height="40"
								viewBox="0 0 22 40"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M11.0272 39.5905L21.0144 18.5185V0.409668H0.600006V19.6161H8.39361L0.600006 39.5905H11.0272ZM3.64801 16.5681V3.45927H17.9648V17.8321L9.09761 36.5409H5.06241L12.8512 16.5697H3.64801V16.5681Z"
									fill="#FDC221"
								/>
							</svg>
						</div>
						<div class="testimonial">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Explicabo ex, voluptate eos, magnam numquam perferendis, nostrum
								animi esse quas adipisci cumque laboriosam neque pariatur?
								Nesciunt asperiores qui nobis amet est!
							</p>
							<h3>Andy</h3>
						</div>
					</div>
					<div class="message__container">
						<div class="svgs">
							<svg
								width="22"
								height="40"
								viewBox="0 0 22 40"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M11.0272 39.5905L21.0144 18.5185V0.409668H0.600006V19.6161H8.39361L0.600006 39.5905H11.0272ZM3.64801 16.5681V3.45927H17.9648V17.8321L9.09761 36.5409H5.06241L12.8512 16.5697H3.64801V16.5681Z"
									fill="#FDC221"
								/>
							</svg>
							<svg
								width="22"
								height="40"
								viewBox="0 0 22 40"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M11.0272 39.5905L21.0144 18.5185V0.409668H0.600006V19.6161H8.39361L0.600006 39.5905H11.0272ZM3.64801 16.5681V3.45927H17.9648V17.8321L9.09761 36.5409H5.06241L12.8512 16.5697H3.64801V16.5681Z"
									fill="#FDC221"
								/>
							</svg>
						</div>
						<div class="testimonial">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Explicabo ex, voluptate eos, magnam numquam perferendis, nostrum
								animi esse quas adipisci cumque laboriosam neque pariatur?
								Nesciunt asperiores qui nobis amet est!
							</p>
							<h3>Just-donald</h3>
						</div>
					</div>
				</div>
			</div> -->
			<div
				class="calendar__part section"
				id="calendar"
			>
				<h1 class="title">
					Check the <span class="bold__part">availability of our Room</span>
				</h1>
				
				<div class="iframes__part">
					<iframe
						class="iframe__1"
						src="https://outlook.office365.com/owa/calendar/034e994cca664a90bbd0dc7dabfa6e18@digiplusconsulting.com/25060f30bd804cda9c50ace20051fcb817439283612639133523/calendar.html"
						width="500"
						height="550"
					></iframe>
					<iframe
					style="align-items: center;"
						class="iframe__2"
						src="https://outlook.office365.com/owa/calendar/DigiRoom@digiplusconsulting.com/bookings/"
						width="500"
						height="550"
						frameborder="0"
					></iframe>
				</div>
			</div>

			<div
				class="contact"
				id="contact"
			>
				<h1 class="title">Contact Us</h1>
				<div class="contact__container">
					<div class="text">
						<h2>DigiRoom Service</h2>
						<p>
							Our ambition is to settle in the big cities of the country with the concern of getting closer to the people in need.At the moment, we have a room located in Douala Bonamoussadi, behind Hotel de France.Please discover us and make your reservations at the following address:
						</p>
						<p>
								<strong> 
									<ul>
										<li>Tel : 677104040 / 696422222(Whatsapp)</li>
										<li>website: www.digiroom.cm</li>
										<li>Social Medias : Facebook, LindkedIn, YouTube.</li>
										<li>Mail : DigiRoom@digiplusconsulting.com</li>
									</ul>
								</strong>
						</p>
						<h3>GET IN TOUCH</h3>
						<div class="mail__form">
							<form action="mailto:DigiRoom@digiplusconsulting.com">
								<input
									type="email"
									name="email"
									id="email"
									class="mail__input"
									placeholder="ENTER YOUR EMAIL"
									required
								/>
								<button class="button">SEND</button>
							</form>
						</div>
					</div>
					<div class="map">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1989.8389122462281!2d9.742606947285138!3d4.0858525728291175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNMKwMDUnMDkuMSJOIDnCsDQ0JzM2LjEiRQ!5e0!3m2!1sfr!2scm!4v1683013456013!5m2!1sfr!2scm"
							width="600"
							height="450"
							style="border: 0"
							allowfullscreen=""
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"
						></iframe>
					</div>
				</div>
			</div>
			<footer>
				&copy; Copyright 2023 DigiRoom Service | All rights Reserved
			</footer>
		</div>
		<script src="../js/script.js"></script>
	</body>
</html>
